---
title: Jenny Lam
layout: homepage
---


<header>
  <img alt="{{ site.name }}" src="{{ site.img }}"/>
  <div id="letterhead">
    <h1>{{ site.name }}</h1>
    <h2>{{ site.title}}</h2>
    <h2>{{ site.department }}</h2>
    <h2>{{ site.school }}</h2>
    <p><li><a href="{{ site.link }}"</ul>{{ site.link }}</a></li></p>
    <ul id="contacts">
      {% for contact in site.contacts %}
      <li>{% if contact.link %}<a href="{{ contact.link }}">{{ contact.name }}</a>{% else %}{{ contact.name }}{% endif %}</li>
      {% endfor %}
    </ul>
    <ul id="profiles">
      {% for profile in site.profiles %}
      <li>{% if profile.link %}{{ profile.name }}{% endif %}</li>
      {% endfor %}
    </ul>
  </div>
</header>


<section id="teaching">
  <h2>Courses</h2>
      <h3>Spring 2017</h3>
      <ul>
        <li><a href="courses/146-s17">Data structures and algorithms</a>, CS 146 sections 5 and 6, San Jos&eacute; State University</li>
      </ul>
       <h3>Fall 2016</h3>
      <ul>
        <li><a href="courses/146-f16">Data structures and algorithms</a>, CS 146 sections 7 and 8, San Jos&eacute; State University</li>
        <li><a href="courses/149-f16">Operating systems</a>, CS 149 section 3, San Jos&eacute; State University</li>
      </ul>
      <h3>Spring 2016</h3>
      <ul>
        <li><a href="courses/55">Discrete mathematics</a>, CSCI055 PO-02, Pomona College</li>
        <li><a href="courses/ds">Distributed systems</a>, CSCI189A PO-01, Pomona College</li>
      </ul>
      <h3>Fall 2015</h3>
      <ul>
        <li><a href="courses/161">Design and analysis of algorithms: TA webpage</a>, CS/CSE161, University of California, Irvine</li>
      </ul>
      <h3>Spring 2015</h3>
      <ul>
        <li><a href="courses/163">Graph algorithms: TA webpage</a>, CS 163/265, University of California, Irvine</li>
      </ul>
</section>


<section id="research">
  <h2>Publications</h2>

    <ul>
        <li class='title'>The subset assignment problem for data placement in caches</li>
        <li>S Ghandeharizadeh, S Irani, J Lam, ISAAC 2016.</li>
        <li><a href="http://drops.dagstuhl.de/opus/volltexte/2016/6805/">conference paper</a>  &nbsp;&nbsp; <a href="//arxiv.org/abs/1609.08767">arXiv</a></li>
    </ul>

    <ul>
      <li class='title'>Models and algorithms for graph watermarking</li>
      <li>D Eppstein, M Goodrich, J Lam, N Mamano, M Mitzenmacher, M Torres, Information security conference 2016.</li>
      <li><a href="http://link.springer.com/chapter/10.1007%2F978-3-319-45871-7_18">conference paper</a> &nbsp;&nbsp; <a href="//arxiv.org/abs/1605.09425">arXiv</a></li>
    </ul>

  <ul>
    <li class='title'>Cache replacement with memory allocation</li>
    <li>S Ghandeharizadeh, S Irani, J Lam, ALENEX 2015.</li>
    <li><a href="//epubs.siam.org/doi/abs/10.1137/1.9781611973754.1">conference paper</a> &nbsp;&nbsp;  <a href="assets/pdf/campm.pdf">presentation</a></li>
  </ul>

  <ul>
    <li class='title'>CAMP: a cost adaptive multi-queue eviction policy for key-value stores</li>
    <li>S Ghandeharizadeh, S Irani, J Lam, J Yap, Middleware 2014.</li>
    <li><a href="http://dl.acm.org/citation.cfm?id=2663165.2663317">conference paper</a> &nbsp;&nbsp; <a href="http://dblab.usc.edu/users/papers/CAMPTR.pdf">technical report</a> &nbsp;&nbsp; <a href="assets/pdf/camp.pdf">presentation</a></li>
  </ul>

  <h2>Posters, demos and more</h2>

  <ul>
      <li class='title'>Design of memory hierarchy with NVM for two caching middleware scenarios</li>
      <li>S Ghandeharizadeh, S Irani, J Lam, Non-volatile memories workshop 2016.</li>
      <li><a href="assets/pdf/memhierarchy.pdf">poster</a> &nbsp;&nbsp; <a href="http://dblab.usc.edu/Users/papers/CacheDesTR2.pdf">technical report</a></li>
  </ul>

  <ul>
    <li class='title'>A demonstration of KOSAR: an elastic, scalable, highly available SQL middleware</li>
    <li>S Ghandeharizadeh, C Gorman, S Irani, S Jahangiri, J Lam, H Nguyen, R Tani and J Yap, Middleware (Posters & Demos) 2014.</li>
    <li><a href="http://dl.acm.org/citation.cfm?id=2678520">demo abstract</a></li>
  </ul>

  <ul>
    <li class='title'>Implementing regenerative morphing</li>
    <li> J Lam, University of California, Irvine, 2010. Class project.</li>
    <li><a href="assets/pdf/regmorph.pdf">report</a></li>
  </ul>

  <ul>
    <li class='title'>Heuristics in the game of Connect-k</li>
    <li> J Lam, University of California, Irvine, 2010. Class project.</li>
    <li><a href="assets/pdf/connectk.pdf">report</a></li>
  </ul>

  <ul>
    <li class='title'>Differential topology</li>
    <li>J Lam, Research Experiences for Undergraduates, UCLA 2005.</li>
    <li><a href="assets/pdf/difftopo.pdf">report</a></li>
  </ul>
</section>
